@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body { 
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient( #c2c2f2, #fff);
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.music-container {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 255, .2);
	display: flex;
	padding: 50px 10px 30px;
	position: relative;
	margin: 1em 0;
	z-index: 10;
}

.music-container.play .img-container img {
	animation-play-state: running;
}

.img-container {
	position: relative;
}

.img-container img {
	height: 9em;
	width: inherit;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	bottom: 0;
	left: 1.5em;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 255, .1);
	animation: rotate 5s linear infinite;
	animation-play-state: paused;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	margin: 0 0 0 10em;
}

.action-btn {
	background-color: #fff;
	border: 0;
	color: #c2c2f2;
	font-size: 2em;
	cursor: pointer;
	margin: 0 1.2em;
}

.action-btn:focus {
	outline: 0;
}

.action-btn.action-btn-big {
	font-size: 2.6em;
	color: #b1b1e6;
}

.music-info {
	background-color: blueviolet;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(100% - 3.5em);
	padding: 10px;
	opacity: 0;
	transform: translateY(0%);
	transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
	padding: 0 0 0 12em;
	margin: 0;
}

.music-container.play .music-info {
	opacity: 1;
	transform: translateY(-100%);
}

.progress-container {
	background: #c095e8;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0;
	height: 4px;
	width: 100%;
}

.progress {
	background-color: #fff;
	border-radius: 5px;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
}

@media(max-width: 425px) and (orientation: portrait) {
	.music-container {
		padding: 40px 10px 20px;
	}

	.img-container img {
		height: 9em;
		bottom: 4em;
		left: 1em;
	}

	.action-btn {
		margin: 0 0.2em;
	}
}

@media(max-width: 768px) and (orientation: landscape) {
	.music-container {
		margin: 8em 0 0;
		padding: 15px 5px;
	}

	.img-container img {
		height: 8em;
		bottom: 3.5em;
		left: 2.3em;
		box-shadow: none;
	}

	.action-btn {
		margin: 0 0.3em;
	}
}